/*
green - #009933
gold - #ffcc00
*/

header {
background-color: #928467;
}

blockquote p{
  font-size: 1.8rem;
  font-family: "times";
}

.lIcon {
  height: 16px;
  padding-left: 3px;
}

.lImageUpload {
  border-color: gray;
  border-width: 1px;
  background-color: white;
  border-radius: 5px;
}

.libBookModel{
  margin: 0 auto;
}
